@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = @Localizer["Title"];
    ViewData["NewTaskAction"] = @Localizer["NewTaskAction"];
}

<p>hello world</p>