@model TaskManager.Models.Authorization.LoginModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link type="text/css" rel="stylesheet" href="~/css/site.css">
    <title></title>
</head>
<body class="login">
    <div class="auth-form">
        <form asp-controller="Account" asp-action="Login">
            <div>
                <span asp-validation-for="Email"></span>
                <input type="email" asp-for="Email"/>
            </div>
            <div>
                <span asp-validation-for="Password"></span>
                <input type="password" asp-for="Password"/>
            </div>
            <div>
                <input type="submit" />
                <a asp-controller="Account" asp-action="Registration">Регистрация</a>
            </div>
        </form>
    </div>
</body>
</html>
