@model TaskManager.Models.Authorization.LoginModel

@{
    Layout = "_AuthLayout";
    ViewData["Title"] = "Вход";
}
<form asp-controller="Account" asp-action="Login">

    <div>
        <label asp-for="Email">Логин</label>
        <input type="email" asp-for="Email" placeholder="Введите email" />
        <span asp-validation-for="Email"></span>
    </div>
    <div>
        <label asp-for="Password">Пароль</label>
        <input type="password" asp-for="Password" placeholder="Введите пароль" />
        <span asp-validation-for="Password"></span>
    </div>
    <div class="buttons">
        <input class="button" type="submit" />
        <a asp-controller="Account" asp-action="Registration"><input class="button" type="button" value="Регистрация" asp-controller="Account" asp-action="Registration" /></a>
    </div>
</form>
