@model TaskManager.Models.Authorization.RegistrationModel

@{
    Layout = "_AuthLayout";
    ViewData["Title"] = "Регистрация";
}

    <form class="reg-form" asp-controller="Account" asp-action="Registration">
        <div>
            <span asp-validation-for="Email"></span>
            <input type="email" asp-for="Email" placeholder="Email" />
        </div>
        <div>
            <span asp-validation-for="Password"></span>
            <input type="password" asp-for="Password" placeholder="Пароль" />
        </div>
        <div>
            <span asp-validation-for="ConfirmPassword"></span>
            <input type="password" asp-for="ConfirmPassword" placeholder="Пароль еще раз" />
        </div>
        <div>
            <input type="submit" value="Зарегистрироваться" />
        </div>
        <a asp-controller="Account" asp-action="Login">Назад</a>
    
    </form>
