* {
  margin: 0;
}
html {
  min-width: 1000px;
  min-height: 620px;
  font-family: 'Manjari', sans-serif;
}
.menu {
  width: 60px;
  height: 100vh;
  background-color: #ff8b47;
  position: relative;
  float: left;
}
.content {
  width: calc(100% - 60px);
  height: 100vh;
  position: relative;
  float: left;
}
.main-content {
  width: 70vw;
  height: 80vh;
  min-width: 630px;
  max-width: 1000px;
  position: relative;
  margin: 10vh auto;
}
.left-content,
.right-content {
  height: 80vh;
  min-height: 500px;
  float: left;
}
.left-content,
.control-panel,
.task-content {
  box-shadow: rgba(255, 139, 71, 0.3) 0 0 0 2px;
}
.left-content {
  width: 30%;
  min-width: 200px;
  max-width: 300px;
}
.right-content {
  width: 60%;
  min-width: 400px;
  max-width: 600px;
  margin-left: 30px;
}
.control-panel {
  width: 100%;
  height: 50px;
}
.task-content {
  width: 100%;
  height: calc(80vh - 65px);
  min-height: 440px;
  margin-top: 15px;
}
.tasks-list {
  width: 100%;
  height: calc(80vh - 50px);
  min-height: 450px;
}
.new-task-action {
  width: 100%;
  height: 50px;
  background-color: #ff8b47;
}
