@base-color: #ff8b47; //rgb(255, 139, 71)
@base-color-rgba: rgba(255, 139, 71, 0.3);
@menu-width: 60px;
@content-width: calc(100vw - @menu-width);
@content-height: 80vh;
@content-min-height: 500px;

* {
    margin: 0;
}

a {
    color: #007bff;
}

html {
    min-width: 1000px;
    min-height: 620px;
    //font-family: 'Manjari', sans-serif;
    //font-family: 'Roboto Condensed', sans-serif;
    //font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}


.menu {
    width: @menu-width;
    height: 100vh;
    background-color: @base-color;
    position: relative;
    float: left;
}

.content {
    width: calc(100% - @menu-width);
    height: 100vh;
    position: relative;
    float: left;
}

.main-content {
    width: 70vw;
    height: @content-height;
    min-width: 630px;
    max-width: 1000px;
    position: relative;
    margin: 10vh auto;
}

.left-content, .right-content {
    height: @content-height;
    min-height: 500px;
    float: left;
}

.left-content, .control-panel, .task-content {
    //box-shadow: @base-color-rgba 0 0 5px 0;
}

.left-content {
    width: 30%;
    min-width: 200px;
    max-width: 300px;
}

.right-content {
    width: 60%;
    min-width: 400px;
    max-width: 600px;
    margin-left: 30px;
}

.control-panel {
    width: 100%;
    height: 50px;
}

.task-content {
    width: 100%;
    height: calc(@content-height - 65px);
    min-height: 440px;
    margin-top: 15px;


    form {
        input, textarea {
            background-color: white;
            line-height: 25px;
            font-family: 'Titillium Web', sans-serif;
            font-size: 17px;
        }

        .form-submit {
            background-color: @base-color;
            color: white;
            text-transform: uppercase;
            font-family: inherit;
            border: none;
            font-size: 14px;
            line-height: 30px;
        }
    }

    h1 {
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 20px;
    }

    .task-description {
        margin-bottom: 20px;
    }

    p {
        margin-block-start: 5px;
        margin-block-end: 5px;
    }
}

.tasks-list {
    width: 100%;
    height: calc(@content-height - 50px);
    min-height: 450px;

    ul {
        display: block;
        list-style: none;
        padding-inline-start: 15px;
    }

    li {
        display: block;

        .task-control {
            float: right;
            right: 10px;
        }

        span {
            color: rgba(0, 0, 0, 0.7);
            cursor: pointer;

            &:hover {
                color: inherit;
            }
        }
    }
}

.new-task-action {
    width: 100%;
    height: 50px;
    background-color: @base-color;
    text-align: center;

    a {
        line-height: 50px;
        color: white;
        display: block;
        text-transform: uppercase;
        font-size: 20px;
        cursor: pointer;
        text-decoration: none;
    }
}

.login {
    background-color: @base-color;

    .auth-form {
        margin: 30vh auto;
        width: 400px;
        height: 300px;
        background-color: white;
        border-radius: 10px;
        font-size: 18px;


        .reg-form {
            text-align: center;
            margin-left: 0;

            input {
                float: none;
                width: initial;
            }
        }

        .inputs {
            width: 100%;
            height: 150px;
        }

        input {
            border: 1px solid rgba(0,0,0,0.07);
            border-radius: 3px;
            margin: 6px;
            height: 30px;
            font-size: 18px;
            width: 200px;
            float: left;
        }

        label {
            display: block;
            width: 100px;
            float: left;
            margin: 6px 0;
            height: 34px;
            line-height: 34px;
        }

        .button {
            background-color: darkgrey;
            border: none;
            line-height: 35px;
            height: 35px;
            padding: 0 10px;
            width: auto;
        }

        span {
            display: block;
            font-size: 12px;
        }

        form {
            text-align: right;
            margin-left: 30px;
            padding-top: 60px;
        }

        .buttons {
            margin-left: 40px;
        }
    }
}
